/* IMPORT FONTS */

@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

body {
  font-family: "Poppins";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

/* MY STUFF */

:root {
  --text: #def6f5;
  --background: #3cb9bc;
  --primary: #77fdf6;
  --secondary: #035698;
  --accent: #3589fc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

main {
  /* padding-bottom: 10vh; */
}

section {
  height: 90vh;
  padding: 16px;
}

.section-header {
  /* margin: auto; */
}

.section-header > h2 {
  margin: auto;
}

/* HEADER */

header {
  padding: 32px;
  width: 100%;
  height: 10vh;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  position: sticky;
  top: 0;
}

header nav {
  font-size: 1rem;
  margin-left: auto;
  margin-right: 72px;
}

header ul li {
  display: inline;
  padding: 32px;
  font-weight: 700;
  font-size: 1rem;
}

header h2 {
  font-size: 3rem;
  margin-left: 5%;
}

/* HOME */

#home {
  background-color: var(--background);
  color: var(--text);
}

/* ABOUT-1 */

#about {
  background-color: var(--text);
}

.about-flex {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-div {
  height: 35vh;
  width: 35vh;
  background-color: var(--primary);
}

/* PROJECTS */

#projects {
  background-color: var(--background);
}

/* CONTACT */

#contact {
  height: 80vh;
  background-color: var(--text);
}

/* FOOTER */

footer {
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  height: 10vh;
  background-color: var(--background);
  color: var(--text);
  text-align: center;
  align-items: center;
}
