/* IMPORT FONTS */

@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

body {
  font-family: "Poppins";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

/* MY STUFF */

:root {
  --text: #f4ebeb;
  --background: #090505;
  --primary: #8b0000;
  --secondary: #6d5e3d;
  --accent: #b2ad74;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  height: 100vh;
}

.left-div,
.right-div {
  width: 50%;
}

/* HEADER */

header {
  padding: 32px;
  width: 100%;
  height: 10vh;
  color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  /* position: fixed; */
}

header nav {
  font-size: 1rem;
  margin-left: auto;
  margin-right: 72px;
}

header ul li {
  display: inline;
  padding: 32px;
  font-weight: 700;
  font-size: 1rem;
}

header h2 {
  font-size: 3rem;
  margin-left: 5%;
}

/* MAIN */

main {
  width: 100%;
  color: var(--text);
}

section h2 {
  width: fit-content;
  margin: auto;
  font-size: 2rem;
}

/* INTRO */

#intro {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#intro h1 {
  font-size: 3rem;
}

#intro p {
  font-size: 1.1rem;
}

#intro-content {
  /* transform: translate(-50px, -150px); */
}

#resume {
  margin-top: 48px;
}

#headshot-container {
  position: relative;
}
#headshot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  /* background-color: white; */
  /* border: 3px solid white; */
  border-radius: 100%;
}

#projects-button {
  background-color: transparent;
  color: var(--accent);
  border: none;
  margin-top: 48px;
  padding: 8px;
  font-weight: 700;
  height: 75px;
  width: 250px;
  border: 3px solid var(--accent);
  border-radius: 12px;
  font-size: 1.75rem;
}

/* ABOUT */

#about {
  /* margin-bottom: 48px; */
  background-color: var(--text);
  color: var(--background);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#about div {
  height: 50vh;
  /* text-align: center; */
}

/* STYLE PROJECTS */

#projects {
  background-color: var(--primary);
  padding: 32px;
}

#projects-slider {
  /* display: inline; */
  position: relative;
  overflow: hidden;
}

#projects-container {
  display: flex;
  transition: transform 0.5s ease;
  gap: 50%;
}

.project {
  flex: 0 0 auto;
  width: 75%;
  margin: 16px auto;
  padding: 16px;
  display: flex;
  gap: 16px;
  transform: translateX(calc(50% / 3));
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--text);
  color: var(--background);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.prev-button {
  left: 5%;
}

.next-button {
  right: 5%;
}

.project h3 {
  font-size: 2rem;
}

.project img {
  height: 350px;
  object-fit: contain;
}

.project ul li {
  display: inline;
}

/* FOOTER */

footer {
  height: 25vh;
  color: var(--text);
}

/* GOOEY */

.gooey {
  background-image: linear-gradient(120deg, var(--accent) 0%, var(--primary) 100%);
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 500px;
  height: 500px;
  animation: morph 3s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}
.gooey:before,
.gooey:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  box-shadow: 5px 5px 89px var(--accent);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-image: linear-gradient(120deg, var(--primary) 0%, var(--secondary) 100%);
}

.gooey:before {
  animation: morph 3s linear infinite;
  opacity: 0.21;
  animation-duration: 1.5s;
}

.gooey:after {
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: 0.89;
  line-height: 120px;
  text-indent: -21px;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    opacity: 0.89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn {
  100% {
    transform: scale(1.03);
    opacity: 0;
  }
}

/* CAROUSEL */

.carousel {
  /* width: 100vw;
  height: 100vh; */
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide[data-active] {
  opacity: 1;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
