/* IMPORT FONTS */

@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

body {
  font-family: "Poppins";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

/* MY STUFF */

:root {
  --text: #f4ebeb;
  --background: #090505;
  --primary: #8b0000;
  --secondary: #6d5e3d;
  --accent: #b2ad74;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(var(--primary), var(--background));
  height: 100vh;
  background-attachment: fixed;
}

/* HEADER */

header {
  padding: 16px;
  height: 80px;
  width: 100%;
  color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
  /* background-color: red; */
}

header nav {
  font-size: 1rem;
  margin-left: auto;
}

header ul li {
  display: inline;
  padding: 24px;
  font-weight: 700;
}

/* MAIN */

main {
  width: 100%;
  color: var(--text);
}

section h2 {
  width: fit-content;
  margin: auto;
  font-size: 2rem;
}

/* STYLE PROJECTS */

#projects-slider {
  /* display: inline; */
  position: relative;
  overflow: hidden;
}

#projects-container {
  display: flex;
  transition: transform 0.5s ease;
  gap: 50%;
}

.project {
  flex: 0 0 auto;
  width: 75%;
  margin: 16px auto;
  padding: 16px;
  display: flex;
  gap: 16px;
  /* border: 3px solid white; */
  transform: translateX(calc(50% / 3));
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--text);
  color: var(--background);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.prev-button {
  left: 5%;
}

.next-button {
  right: 5%;
}

.project h3 {
  font-size: 2rem;
}

.project img {
  height: 350px;
  object-fit: contain;
}

.project ul li {
  display: inline;
}
