/* IMPORT FONTS */

@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");

body {
  font-family: "Poppins";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
  font-weight: 700;
}

/* MY STUFF */

:root {
  --text: #f4ebeb;
  --background: #090505;
  --primary: #8b0000;
  --secondary: #6d5e3d;
  --accent: #b2ad74;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  height: 100vh;
  /* background-attachment: fixed; */
}

/* HEADER */

header {
  padding: 32px;
  width: 100%;
  height: 10vh;
  color: var(--text);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

header nav {
  font-size: 1rem;
  margin-left: auto;
  margin-right: 72px;
}

header ul li {
  display: inline;
  padding: 32px;
  font-weight: 700;
  font-size: 1rem;
}

header h2 {
  font-size: 3rem;
  margin-left: 5%;
}

/* MAIN */

main {
  width: 100%;
  color: var(--text);
}

section h2 {
  width: fit-content;
  margin: auto;
  font-size: 2rem;
}

/* INTRO */

#intro {
  height: 90vh;
}

#intro h1 {
  font-size: 3rem;
  width: fit-content;
  padding-left: 200px;
  padding-right: auto;
  padding-top: 200px;
}

#intro p {
  padding-left: 200px;
  font-size: 1.1rem;
}

/* ABOUT */

#about {
  background-color: var(--text);
  color: var(--background);
  width: 100%;
}

#about div {
  height: 50vh;
}

/* STYLE PROJECTS */

#projects {
  background-color: var(--primary);
  padding: 32px;
}

#projects-slider {
  /* display: inline; */
  position: relative;
  overflow: hidden;
}

#projects-container {
  display: flex;
  transition: transform 0.5s ease;
  gap: 50%;
}

.project {
  flex: 0 0 auto;
  width: 75%;
  margin: 16px auto;
  padding: 16px;
  display: flex;
  gap: 16px;
  transform: translateX(calc(50% / 3));
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--text);
  color: var(--background);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.prev-button {
  left: 5%;
}

.next-button {
  right: 5%;
}

.project h3 {
  font-size: 2rem;
}

.project img {
  height: 350px;
  object-fit: contain;
}

.project ul li {
  display: inline;
}

/* FOOTER */

footer {
  height: 25vh;
  color: var(--text);
}
